*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
body { 
    background-color: white; /* Caso não carregue a imagem de fundo */
}
.indexheader {
    background-image: url('/Images/fundo2.png');
    background-position: center;
    background-size: cover; /*Toda altura e largura disponível*/
    background-attachment: fixed;
}
.conteudo {
    max-width: 1300px; /*Largura máxima*/
    margin: 0 auto; /*Margem automárica para os dois lados*/
    padding: 2%;
}
.conteudo .mainlogo {
    max-width: 60%;
    margin-left: 20px;
    margin-top: 30px;
}

/* Home Start */
.start {
    display: flex; /*Elementos do site um ao lado do outro*/
    align-items: center; /*Ajusta itens*/
    justify-content:center; /*Local dos elementos*/
    padding-top: 8px;
}
.start ul {
    display: flex;
    align-items: center;
}
.start ul a {
    color: black;
    border-color: red;
    margin: 0 20px; /*Espaçamento entre as opções*/
    font-size: 20px;
    display: block; /*Não deixa cor no texto após clicar no link*/
    padding: 18px;
    
}
.start ul a:not(.btn):after {
    content: "";
    background-color: red;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.6s;
}
.start ul a:hover::after {
    width: 100%;
}
/* Menu Mobile */
.start .menu-icon {
    cursor: pointer;
    font-size: 25px;
    display: none;
}
.start .close-icon {
    display: none;
    font-size: 30px;
}
.start .btn {
    background-color: #C80000;
    padding: 15px 20px;
    border-radius: 14px;
    display: inline-block;
    transition: 0.4s; /*Animação ao passar o mouse sobre*/
}
.start .btn:hover {
    background-color: #e92626; /*Altera a cor do elemento ao passar o mouse*/
}
.start .btncosme {
    color: white;
    background-color: #C80000;
    padding: 8px 18px;
    border-radius: 9px;
    display: inline-block;
    transition: 0.3s;
}
.start .btncosme {
    background-color: #1e8c13;
    padding: 12px 11px;
    font-size: 20px;
    animation: animate-outline 0.8s ease-out infinite;
}
.start .btncosme:hover {
    background-color: #2bc51c;
}
@keyframes animate-outline {
    from {
        outline: 0px solid #2bc51c;
    }
    to {
        outline: 7.5px solid #c1debe;
    }
}
/* End Start */
/* Home Presentation */
.presentation {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    text-align: center;
    padding: 20px 33px;
    display: block;
    line-height: 30px;
}
.presentation .TextTendaDeUmbanda {
    font-size: 15px;
    color: rgb(96, 90, 90);
    font-weight: lighter;
    margin: 18px 0;
}
.presentation .btndoe {
    color: white;
    background-color: #C80000;
    padding: 5px 18px;
    border-radius: 9px;
    display: inline-block;
    transition: 0.3s;
}
.presentation .btndoe:hover {
    background-color: #e92626;
}
.presentation .btndoe {
    background-color: #e92626;
    padding: 8px 22px;
    font-size: 18px;
    animation: animate-outline 1s ease-out infinite;
}
@keyframes animate-outline {
    from {
        outline: 0px solid #e92626;
    }
    to {
        outline: 5.5px solid #ddc4c4;
    }
}
/* End Home Presentation */
/* Start Seção 01 Pena Verde */
.penaverde {
    background-color:rgba(255, 255, 255, 0.764);
    border-radius: 20px;
    display: block;
}
.penaverde img {
    width: 60%;
    margin: 0 80px;
    margin-top: 20px;
}
.penaverde p {
    text-align: center;
    font-size: 15px;
    color: rgb(110, 103, 103);
    font-style: italic;
    padding: 3px;
    margin: 5px;
}
/* End Seção 01 Pena Verde */
/* Start Seção 02 A Umbanda */
.aumbanda {
    background-color:rgba(255, 255, 255, 0.676);
    border-radius: 20px;
}
.aumbanda h2 {
    font-size: 20px;
    color: rgb(112, 106, 106);
    text-align: center;
    padding: 17px;
}
.aumbanda ul li{
    text-align: left;
    font-size: 13px;
    color: rgb(110, 103, 103);
    font-style: italic;
    padding: 3px;
    margin: 5px 35px;
}
.aumbanda .return {
    color: #1e8c13;
    font-weight: bold;
}
/* End Seção 02 A Umbanda */
.homenagens {
    background-color:rgba(255, 255, 255, 0.572);
    border-radius: 20px;
    display: block;
}
.homenagens img {
    width: 100%;
    margin: 0 0px;
    margin-top: 0px;
    border-radius: 15px;
}
.homenagens h3 {
    font-size: 20px;
    color: rgb(112, 106, 106);
    text-align: center;
    padding: 10px;
}
.homenagens p {
    text-align: left;
    font-size: 13px;
    color: rgb(110, 103, 103);
    padding: 3px;
    margin: 5px 35px;
}











.historia {
    background-color:white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.historia .textohistoria {
    width: 100%;
    padding-right: 0px;
    text-align: center;
    
}
.historia .textohistoria h2 {
    margin-top: 10px;
    font-size: 15px;
    color: gray;
}

.historia .textohistoria p {
    margin: 18px 0;
    color: rgb(89, 86, 86);
}
.historia .imghistoria {
    width: 50%;
}








/* Start Redes */
.redes {
    text-align: center;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.579);
    border-radius: 20px;
}   
.redes i {
    font-size: 50px;
    padding: 10px;
    margin: 0px;
}
.redes a {
    color: black;
    font-size: 0px;
    margin: 0 10px;
}
.redes h3 {
    color: rgb(110, 109, 109);
    font-size: 18px;
    text-align: center;
    padding: 30px;
}
/* End Redes */
/* Start Footer */
.footer {
    background-color: rgba(0, 0, 0, 0.648);
    padding: 100px;
}
/* End Footer */
/* Para quando a tela for menor que 830px */
@media(max-width: 830px) {
 /* Version Mobile */
    .start ul {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        flex-direction: column; /* Deixa oas opções uma abaixo da outra */
        align-items: center;
        justify-content: center; 
        clip-path: inset(0 0 0 100%);
        transition: 0.5s;
    }
    .start .open {
        clip-path: inset(0 0 0 0);
    }
    .start ul a {
            margin: 16px 0;
            font-size: 20px;
    }
    .start .menu-icon {
            display: block;
            margin-bottom: 5%;
            margin-right: 20px;
            
    }        
    .start .close-icon {
            display: block;
            position: absolute;
            top: 46px;
            right: 28px;
    }
}
