*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body { 
    background-color: white; /* Caso não carregue a imagem de fundo */
}

/* Start Web Desktop */
@media(min-width:831px) {
    .web1 {
        display: flex;
                
    }
}

/* End Web Desktop */


.indexheader {
    background-image: url('/Images/fundo2.png');
    background-position: center;
    background-size: cover; /*Toda altura e largura disponível*/
    background-attachment: fixed;
}

.conteudo {
    max-width: 1300px; /*Largura máxima*/
    margin: 0 auto; /*Margem automárica para os dois lados*/
    padding: 2%;
}

.conteudo .mainlogo {
    max-width: 60%;
    margin-left: 20px;
    margin-top: 30px;
}

/* Home Start */
.start {
    display: flex; /*Elementos do site um ao lado do outro*/
    align-items: center; /*Ajusta itens*/
    justify-content:center; /*Local dos elementos*/
    padding-top: 8px;
}

.start ul {
    display: flex;
    align-items: center;
}

.start ul a {
    color: black;
    border-color: red;
    margin: 0 20px; /*Espaçamento entre as opções*/
    font-size: 18px;
    display: block; /*Não deixa cor no texto após clicar no link*/
    padding: 18px;
    @media(min-width: 831px) {
                
    }
}

.start ul a:not(.btn):after {
    content: "";
    background-color: red;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.6s;
}

.start ul a:hover::after {
    width: 100%;
}

/* Menu Mobile */
.start .menu-icon {
    cursor: pointer;
    font-size: 25px;
    display: none;
}

.start .close-icon {
    display: none;
    font-size: 30px;
}

.start .btn {
    background-color: #C80000;
    padding: 15px 20px;
    border-radius: 14px;
    display: inline-block;
    transition: 0.4s; /*Animação ao passar o mouse sobre*/
}

.start .btn:hover {
    background-color: #e92626; /*Altera a cor do elemento ao passar o mouse*/
}

.start .btncosme {
    color: white;
    padding: 15px 20px;
    border-radius: 9px;
    display: inline-block;
    transition: 0.3s;
    background-color: #1e8c13;
    font-size: 20px;
    @media(min-width:831px) {
        text-align: center;
        font-size: 17px;
    }
}

.start .btncosme:hover {
    background-color: #2bc51c;
}

.start button {
    border: none;
    background-color: white;
}
/* End Start */


/* Home Presentation */
.presentation {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    text-align: center;
    padding: 20px 33px;
    display: block;
    line-height: 30px;
    @media(min-width:831px) {
        padding: 50px;
    }
}

.presentation .TextTendaDeUmbanda {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.486);
    margin: 18px 0;
    @media(min-width:831px) {
        padding: 20px;
        margin-top: -70px;
    }
}

/* End Home Presentation */


/* Start Seção Pena Verde */
.penaverde {
    background-color:rgba(255, 255, 255, 0.797);
    border-radius: 20px;
    display: block;
    @media(min-width:831px) {
        width: 60%;
        background-color: white;
        margin-left: 30px;
    }
}

.penaverde img {
    width: 60%;
    margin: 0 80px;
    margin-top: 20px;
    @media(min-width:831px) {
        width: 50%;
        margin-left: 150px;
        
    }
}

.penaverde p {
    text-align: center;
    font-size: 15px;
    color: rgb(110, 103, 103);
    font-style: italic;
    padding: 3px;
    margin: 5px;
    @media(min-width:831px) {
        font-size: 17px;
    }
}
/* End Seção Pena Verde */


/* Start Seção A Umbanda */
.aumbanda {
    background-color:rgba(255, 255, 255, 0.759);
    border-radius: 20px;
    @media(min-width:831px) {
        background-color: white;
        width: 60%;
        margin-right: 30px;
    }
}

.aumbanda h2 {
    font-size: 20px;
    color: rgb(96, 92, 92);
    text-align: center;
    padding: 17px;
    @media(min-width:831px) {
        padding: 40px;
        font-size: 23px;
    }
}

.aumbanda ul li{
    text-align: left;
    font-size: 15;
    color: rgb(110, 103, 103);
    font-style: italic;
    padding: 3px;
    margin: 5px 35px;
    @media(min-width:831px) {
        padding: 13px;
        margin-top: 20px;
        margin-right: 30px;
    }
}

.aumbanda .return {
    color: #1e8c13;
    font-weight: bold;
}
/* End Seção A Umbanda */


/* Start Seção Homenagens */
.homenagens {
    background-color:rgba(255, 255, 255, 0.761);
    border-radius: 20px;
    display: block;
    margin-top: -50px;
    width: 100%;
}

.homenagens img {
    width: 100%;
    border-radius: 15px;
}

.homenagens .textohomenagem {
    display: flex;
}

.homenagens .desenhopaithome {
    width: 50%;
    height: 100%;
    margin-top: 15px;
    @media(min-width:831px) {
        width: 15%;
        
    }
}

.homenagens h3 {
    font-size: 20px;
    color: rgb(9, 8, 8);
    text-align: center;
    padding: 3.5px;
    background-color:rgba(240, 240, 9, 0.429);
    border-radius: 15px;
    margin-top: 12px;
}

.homenagens p {
    text-align: justify;
    font-size: 15px;
    color: rgb(92, 85, 85);
    padding: 3px;
    width: 50%;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    @media(min-width:831px) {
        width: 85%;
        
    }
}

.homenagens .text01{
    display: none;
    @media(min-width:831px) {
        display: inline;
    }
}

.homenagens .text02 {
    width: 95%;
    margin-top: 10px; 
    @media(min-width:831px) {
        display: none;
    }
}



/* End Seção Homenagens */


/* Start Seção Cosme e Damião */
.cosmeedamiao {
    background-color:rgba(255, 255, 255, 0.726);
    border-radius: 20px;
    display: block;
}

.cosmeedamiao .imagenscosme {
    display: flex;
    width: 50%;
    @media(min-width:831px) {
        display: none;
    }
}

.cosmeedamiao img {
    width: 100%;
    border-radius: 15px;
    @media(min-width:831px) {
        display: none;
    }
}

.cosmeweb img {
    display: none;
    @media(min-width: 831px) {
        display: inline-block;
        width: 16%;
    }
}

.cosmeedamiao h3 {
    font-size: 30px;
    color: rgb(112, 106, 106);
    text-align: center;
    padding: 20px;
}

.cosmeedamiao h4 {
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    color: rgba(73, 67, 67, 0.941);
    font-size: 17px;
    margin-left: 15px;
    margin-right: 30px;
}

.cosmeedamiao p {
    text-align: justify;
    font-size: 17px;
    color: rgb(110, 103, 103);
    margin-left: 10px;
    margin-right: 10px;
}

.cosmeedamiao .btndoe {
    color: white;
    background-color: #C80000;
    padding: 5px 18px;
    border-radius: 9px;
    display: inline-block;
    transition: 0.3s;
}

.cosmeedamiao .btndoe:hover {
    background-color: #e92626;
}

.cosmeedamiao .btndoe {
    background-color: #e92626;
    padding: 8px 22px;
    font-size: 18px;
    animation: animate-outline 1s ease-out infinite;
}

.cosmeedamiao button {
    border: none;
    background-color:rgba(255, 255, 255, 0);    
    width: 100%;
    margin-bottom: 20px;
}

.cosmeedamiao .container-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    justify-content: center;
}

.cosmeedamiao .container-popup .active {
    display: flex;
}

.cosmeedamiao .popup {
    background-color: white;
    border-radius: 10px;
    
}

.cosmeedamiao .popup button {
    background-color: #1e8c13;
    color: greenyellow;

}

@keyframes animate-outline {
    from {
        outline: 0px solid #e92626;
    }
    to {
        outline: 5.5px solid #ddc4c4;
    }
}
/* End Seção Cosme e Damião */


/* Start Seção Cronograma */
.cronograma {
    background-color:rgba(255, 255, 255, 0.711);
    border-radius: 20px;
    display: block;
}

.cronograma img {
    width: 100%;
    border-radius: 30px;
}

.cronograma h2 {
    font-size: 30px;
    color: rgb(52, 48, 48);
    text-align: center;
    padding: 15px;
}

.cronograma p {
    text-align: center;
    font-size: 17px;
    color: rgba(0, 128, 0, 0.644);
    font-weight: bold;

}

/* End Seção Cronograma */


/* Start Footer */
.footer {
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 20px;
}

.footer p {
    text-align: center;
    font-size: 18px;
    color: rgba(38, 36, 36, 0.87);
    padding: 0px;
    margin: 0px 3px;
    font-weight: bold;
    margin-bottom: 20px;
}   

.footer i {
    font-size: 50px;
    padding: 10px;
    margin: 0px;
}

.footer a {
    color: black;
    font-size: 0px;
    margin: 0 10px;
}

.footer h3 {
    color: rgba(0, 0, 0, 0.716);
    font-size: 18px;
    text-align: center;
    padding: 30px;
}

.footer .links a {
    background-color: #1e8c13;
}
/* End Footer */


/* PÁGINS ARTIGOS */
.construcao-artigos {
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.construcao-artigos img {
    width: 35%;
    margin: auto;
    display: block;
    padding: 30px;
    @media(max-width: 830px) {
        width: 100%;
        padding: 0px;
    }
}

.construcao-artigos p {
    text-align: center;
    font-size: 19px;
    color: rgba(81, 75, 75, 0.801);
    margin-left: 50px;
    margin-right: 50px;
    @media(max-width: 830px) {
        text-align: justify;
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.construcao-artigos .volta-index {
    align-items: left;
    width: 6%;
    margin: 40px;
    padding: 10px;
    background-color: rgba(0, 81, 255, 0.952);
    font-weight: bold;
    border-radius: 10px;
    @media(max-width: 830px) {
        width: 20%;
        margin: 20px;
        padding: 7px;
    }
}

.construcao-artigos .volta-index a {
    color:rgb(255, 255, 255);
}

/* Para quando a tela for menor que 830px */
@media(max-width: 830px) {
 /* Version Mobile */
    .start ul {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        flex-direction: column; /* Deixa oas opções uma abaixo da outra */
        align-items: center;
        justify-content: center; 
        clip-path: inset(0 0 0 100%);
        transition: 0.5s;
    }

    .start .open {
        clip-path: inset(0 0 0 0);
    }

    .start ul a {
            margin: 26px 0;
            font-size: 20px;
    }

    .start .menu-icon {
            display: block;
            margin-bottom: 5%;
            margin-right: 20px;
            
    }  

    .start .close-icon {
            display: block;
            position: absolute;
            top: 46px;
            right: 28px;
    }

    